/*
Version: 1.0
Author: Kevin Couto
Author URI: http://www.kevincouto.com
*/

/* A reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,  strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
ul, ol {list-style:none}
section, article, aside, header, footer, nav, dialog, figure {
	display:block;
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {	display: block; }

/* General Definitions */
body {
	background:#000 url(images/bg.gif) repeat;
	font:100% "Myriad Pro", Arial, Helvetica, sans-serif;
	height:auto;
}

a{
	color:#333;
	text-decoration:none;
}

.wrap{
	clear: both;
	margin: 0 auto;
	width: 980px;
}

/* Header */
	/* section top-navbar */
#top-navbar{
	width:100%;
	height:38px;
	background-color:#454141;
	text-align:center;
	padding-top:12px;
}

#top-navbar span{
	font-size:18px;
	color:#fff;
}

	/* section top-navbar */
#presentation-menu{
	height:215px;
	padding:12px 0 0 14px;
	position:relative;
}

#presentation-menu h1{
	background:url(images/logo_kevincouto.png) no-repeat;
	height:178px;
	width:178px;
	overflow:hidden;
	position:absolute;
	text-indent:-9000px;
}

#presentation-menu h2{
	background:url(images/seta_indica_logo.png) no-repeat;
	position:absolute;
	height:45px;
	width:220px;
	top:150px;
	left:192px;
	padding-left:115px;
	padding-top:12px;
	font:18px 'Indie Flower';
	color:#666;
}

#presentation-menu nav{
	width:530px;
	height:61px;
	position:absolute;
	top:60px;
	right:30px;
	border-top:1px dashed #8A8A8A;
	border-bottom:1px dashed #8A8A8A;
}

#presentation-menu ul{
	margin:0 auto;
	text-align:center;
	width:380px;
	height:35px;
	padding-top:18px;
}

#presentation-menu ul li{
	float:left;
	margin-left:10px;
	height:100%;
}

#presentation-menu ul li a{
	background-color:#fda41e;
	color:#fff;
	padding:5px 15px 8px 15px;
	font-size:18px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

/* Featured Works */
#featured-works{
	background:url(images/bg_section_intro.png) repeat-x;
	color:#fff;
	height:330px;
}

.relative{
	position:relative;
}

#featured-works h1{
	position:absolute;
	width:500px;
	font-size:36px;
	font-weight:normal;
	top:50px;
	left:70px;
	text-shadow: 1px 1px 1px #666;
}

#featured-works p{
	position:absolute;
	width:440px;
	top:108px;
	left:40px;
	font-size:19px;
	word-spacing:1px;
	line-height:24px;
	text-shadow: 1px 1px 1px #666;
}

#featured-works p a{
	color:#fff;
}

#featured-works p a:hover{
	text-decoration:underline;
}

#featured-works #images-work{
	position:absolute;
	top:8px;
	width:422px;
	height:282px;
	right:10px;
}

/* Content */
#content{
	position:relative;
	height:270px;
}

#content article{
	position:absolute;
	width:400px;
	padding-left:40px;
}

#content h3{
	font-size:32px;
	font-weight:normal;
	text-shadow: 1px 1px 1px #fff;
	padding-left:30px;
	padding-bottom:10px;
}

#content article p{
	font-size:17px;
	font-weight:normal;
	text-shadow: 1px 1px 1px #fff;
}

#content #sidebar{
	position:absolute;
	width:400px;
	height:220px;
	right:10px;
}

#content #sidebar ul li{
	font-size:17px;
	font-weight:normal;
	text-shadow: 1px 1px 1px #fff;
}

#content #sidebar .gl-nav{
	background:url(images/seta_links_interessantes.png) no-repeat;
	margin-left:20px;
	margin-top:10px;
	padding-left:80px;
	padding-top:12px;
	height:28px;
	font:18px 'Indie Flower';
	color:#666;
}

/* Footer */
footer{
	position:relative;
	border-top:1px dashed #8A8A8A;
	height:145px;
}

footer .ft-nav{
	background:url(images/seta_footer.png) no-repeat;
	position:absolute;
	width:300px;
	height:40px;
	top:70px;
	left:180px;
	font:18px 'Indie Flower';
	color:#666;
}

footer ul{
	position:absolute;
	top:20px;
	right:10px;
	width:200px;
}

footer ul li{
	float:left;
	margin-left:10px;
}

footer .copyright{
	width:100%;
	position:absolute;
	top:100px;
	text-align:center;
}
